@import "tailwindcss";

@theme {
  --color-brand-red: #e50914;
  --color-brand-magenta: #ff00ff;
  --color-neon-lime: #D4E910;
  --radius-xl-card: 32px;
  --font-size-tiny: 10px;
  --spacing-card-desc: 140px;
  
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular;
}

body {
  background-color: #050505;
  color: white;
  font-family: var(--font-sans);
  min-height: 100vh;
  /* Efek Abstract Blur Merah-Magenta */
  background-image: 
    radial-gradient(at 0% 0%, rgba(229, 9, 20, 0.15) 0px, transparent 50%), 
    radial-gradient(at 100% 0%, rgba(255, 0, 255, 0.1) 0px, transparent 50%);
  background-attachment: fixed;
}

/* Scrollbar Utility untuk v4 */
@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #444;
}

/* Munculin scrollbar horizontal tipis warna merah */
.no-scrollbar::-webkit-scrollbar {
  display: block;
  height: 3px;
}
.no-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.no-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(229, 9, 20, 0.2);
  border-radius: 10px;
}
.no-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(229, 9, 20, 0.6);
}

